:root {
    --prim-clr: rgb(33, 161, 247);
    --sec-clr: white;
    --bg-clr: rgb(212, 231, 243);
    --greyish: rgb(129, 127, 127); 
    background-color: rgb(27, 27, 27);
    font-family: "Roboto";
}

* {
    margin: 0;
    padding: 0;
    container-type: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    max-width: 1200px;
    margin: auto;
}

.header {
    padding: 1rem 3rem;
    background-color: var(--sec-clr);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    gap: 2rem;
}

form {
    display: grid;
    grid-template-columns: 40px 1fr;
    place-content: center;
}

form > button {
    border: none;
    background-color: var(--sec-clr);
    margin-right: 1rem;
}

form button svg {
    height: 1.6rem;
    fill: black;
}

input[type="search"] {
    border: none;
    border-radius: 1rem;
    background-color: var(--bg-clr);
    width: 80%;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
}

.account-info {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600;
}

.account-info svg {
    height: 1.5rem;
}

.account-greet {
    display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
    font-weight: 600;
}

.account-greet img {
    grid-row: span 2;
    height: 4rem;
}

.account-greet .greet {
    font-size: 0.8rem;
}

.account-greet .account-name {
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.5rem;
}

.buttons button {
    border: none;
    border-radius: 2rem;
    background-color: var(--prim-clr);
    color: var(--sec-clr);
    font-size: 0.8rem;
    padding: 0.5rem;
    width: 5rem;
}

.buttons button:active {
    border: var(--prim-clr) 1px solid;
    background-color: var(--sec-clr);
    color: var(--prim-clr);
}

.sidebar {
    grid-row: 1 / 3;
    background-color: var(--prim-clr);
    color: var(--sec-clr);
    padding: 1rem;
}

.sidebar button {
    border: none;
    background-color: var(--prim-clr);
    color: var(--sec-clr);
    font-weight: 600;
}

.sidebar button:hover {
    color: var(--greyish);
}

.sidebar button:hover svg {
    fill: var(--greyish);
}

.sb-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.sb-title svg {
    height: 1.7rem;
    fill: var(--sec-clr);
}

.sb-options {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    margin: 1rem 0;
    padding: 0 0.5rem;
}

#options-gap {
    margin-bottom: 3rem;
}

.sb-options svg {
    height: 1.3rem;
    fill: var(--sec-clr);
}

.main {
    background-color: var(--bg-clr);
    padding: 2rem 1rem;
    box-shadow: inset 0px 3px 5px var(--greyish);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1rem 1fr 1rem 1fr;
    gap: 1rem;
}

.main .title {
    font-weight: 500;
}

.main p {
    color: var(--greyish);
    font-size: 0.8rem;
    padding: 0.4rem 0;
}

.cards {
    grid-row: span 3;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card,
.announcements,
.trending {
    background-color: var(--sec-clr);
    border-radius: 1rem;
    box-shadow: 1px 1px 3px var(--greyish);
    padding: 1rem;
}

.card {
    display: grid;
    grid-template-rows: 1rem 1fr 1rem;
    border-left: orange 10px solid;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.svgs {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.3rem;
}

.svgs button {
    border: none;
    background-color: var(--sec-clr);
    border-radius: 50%;
    padding: 2px;
}

.svgs button:active {
    background-color: var(--greyish);
}

.svgs button:active svg {
    fill: var(--sec-clr)
}

.svgs svg {
    height: 1.3rem;
    fill: black;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    font-size: 0.8rem;
}

.announcements p {
    font-size: 0.7rem;
    padding: 0.2rem 0;
}

.trending {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(1fr, 4);
    align-items: center;
    font-size: 0.8rem;
    padding: 2rem 1rem;
}

.account p {
    padding: 0;
}

img {
    height: 2rem;
}